body {
    background-color: #000000;
}
/*header*/
header{
    padding: 2%;
    display: block;
    background-color: #aa1f00;
    border-radius: 7px;
}
.logo {
    float: left;
    position:relative;  
    margin-left: 2%;
    margin-top: 2%;
    padding: 0px;
    width: 50px;
    height: 50px;
}
h1 {
    float: left;
    position: relative;
    margin-top: 2%;
    font-size: 300%;
    color: #000000;
}
nav {
    width: 20%;
    float:right;
    position: relative;
    margin-top: 2%;
    margin-right: 2%;
    background-color: #000000;
    border-radius: 7px;
}
.nav-bar {
    text-decoration: none;
}
ul {
}
il {
    background-color: #aa1f00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner {
    display: relative;
    margin-top: 0px;
    border-radius: 7px;
    width: 100%;
    height: 350px;

}
/*main*/
main {
    border-radius: 7px;
    background-color:#7c7575;

}    
h2 {
    display: flex;
    align-items: baseline;
    margin-left: 3%;
}
img {
    width: 10%;
    height: 70px;
}