* {
    margin: 0px;
    padding: 0px;
}
/*header*/
header {
    justify-content: flex-start;
    margin-bottom: 390px;
    width: auto;
    height: 5em;
    background: #aa1f00;
    display: flex;
}
    .logonav {
        position: relative;
        float: left;
        margin-top: 1%;
        margin-left: 6%;
    }
    .logo {
        position: relative;
        margin-top: .5em;
        width: 50px;
        height: 50px;
    }
    h1 {
        position: absolute;
        margin-top: -1.1em;
        margin-left: 1.07em;
        font-size: 300%;
        color: #000000;
    }
        a {
        text-decoration: none;
        font-weight: bold;
        }
    /*barra de navegacion*/
    nav {
        background-color: #aa1f00;
        width: 100%;
        margin-top: 1em;
        margin-right: 6%;
    }
        nav ul {
            justify-content: flex-end;
            display: flex;
            list-style: none;
            width: auto;
            margin: auto;
            }
            nav ul li {
                text-align: center;
            }
            nav ul .category {
                margin-top: .8em;
                font-size: 150%;
                font-weight: bold;
            }
                .category ul li a {
                    font-size: 80%;
                }
                nav a:hover {
                    background-color: #000000;
                    color: #aa1f00;
                    border-radius: .3em;
                }
                nav ul li a {
                    display: flex;
                    padding: 20px 20px;
                    color: #000000;
                    text-decoration: none;
                    font-size: 150%;
                }
                    nav ul ul {
                        position: relative;
                        display: block;
                        background: #aa1f00;
                        transform: translateX(60%);
                        opacity: 0;
                        transition: all .5s;
                        z-index: 10;
                    }
                        header ul li:hover ul {
                            opacity: 1;
                            transform: translateX(0%);
                        }
    /*fin de barra de navegacion*/
h2 {
    position: relative;
    margin: auto;
    margin-top: -26%;
    padding: 1%;
    width: 40%;
    background: #919191;
    text-align: center;
    border-radius: .3em .3em 0 0    ;
    height: 30px;
}    
form  {
    position: relative;
    margin: auto;
    margin-bottom: 2%;
    width: 40%;
    background-color: #919191;
    border-radius: .3em;
    padding: 2%
}
    .nombre {
        margin-left: 15%;
        font-size: 130%;
    }
    .apellido {
        margin-left: 15%;
        font-size: 130%;
    }
    .email {
        margin-left: 15%;
        font-size: 130%;
    }
    .contraseña {
        margin-left: 15%;
        font-size: 130%;
    }
    .repetircontraseña {
        margin-left: 15%;
        font-size: 130%;
    }
input {
    margin-left: 27%;
    margin-bottom: 2.2%;
    margin-top: .7%;
    width: 40%;
    height: 4%;
    background-color: #aa1f00;
    border-radius: .7em;
    color: #ffffff;
    padding: 1.5%;
}
    .registrar {
        margin-left: 4.5%;
        margin-top: 5%;
        width: 90%;
        height: 40px;
        border-radius: .7em;
        background-color: #aa1f00;
    }
    /*footer*/                   
footer {
    position: relative;
    background-color: #000000;
    height: 63px;
    margin-top: 1.44%;
}
    footer a {
        color: #ffffff;
    }
    footer li {
        margin: auto;
        width: 3%;
        padding: .5%;
        list-style: none;
    }