* {
    margin: 0px;
    padding: 0px;
}
/*header*/
header {
    justify-content: flex-start;
    margin-bottom: 390px;
    width: auto;
    height: 5em;
    background: #aa1f00;
    display: flex;
}
    .logonav {
        position: relative;
        float: left;
        margin-top: 1%;
        margin-left: 6%;
    }
    .logo {
        position: relative;
        margin-top: .5em;
        width: 50px;
        height: 50px;
    }
    h1 {
        position: absolute;
        margin-top: -1.1em;
        margin-left: 1.07em;
        font-size: 300%;
        color: #000000;
    }
        a {
        text-decoration: none;
        font-weight: bold;
        }
    /*barra de navegacion*/
    nav {
        background-color: #aa1f00;
        width: 100%;
        margin-top: 1em;
        margin-right: 6%;
    }
    nav ul {
        justify-content: flex-end;
        display: flex;
        list-style: none;
        width: auto;
        margin: auto;
    }
    nav ul li {
        text-align: center;
    }
    nav a:hover {
        background-color: #000000;
        color: #aa1f00;
        border-radius: .3em;
    }
    nav ul li a {
        display: flex;
        padding: 20px 20px;
        color: #000000;
        text-decoration: none;
        font-size: 120%;
    }
    nav ul ul {
        position: relative;
        display: block;
        background: #aa1f00;
        transform: translateX(60%);
        opacity: 0;
        transition: all .5s;
        z-index: 10;
    }
    header ul li:hover ul {
        opacity: 1;
        transform: translateX(0%);
    }

    /*fin de barra de navegacion*/
    /*banner*/
    .banner {
        display: block;
        position: absolute;
        margin-top: 7em;
        margin-left: 1%;
        width: 97%;
        height: 300px;
        border: .4em solid #aa1f00;
        border-radius: .8em;
        background-size: 100% 100%;
        animation: banner 10s infinite;
        animation-direction: alternate;
    }
        @keyframes banner {
            0%, 30% {
                background-image: url(http://placeimg.com/1000/300/tech/grayscale);
                opacity: 1;
            }
            31%, 34% {
                opacity: 0.1;
            }
            35%, 65% {
                background-image: url(http://placeimg.com/1000/300/tech/grayscale?t=1531435641443);
                opacity: 1;
            }
            66%, 69% {
                opacity: 0.1;
            }
            70%, 100% {
                opacity: 1;
                background-image: url(http://placeimg.com/1000/300/tech/grayscale?t=1531435651499);
            }
        }
    /*fin del banner*/    
/*main*/
main {
    margin: 1%;
    padding: 1%;
    border-radius: 7px;
    background-color:#aa1f00;
    height: 1100px;
    width: 96%;
}
    .top {
        display: flex;
        margin-left: 1%;
        width: 98%;
        background-color: #ffffff;
        font-style: italic;
    }
        .topp {
            float: left;
            font-size: 150%;
            margin-left: 4%;
            }
        .topg {
            float: right;
            font-size: 150%;
            margin-left: 32%;
        }
    .tops {
        width: 99%;
    }
        .toppagos {
            float: left;
            margin-left: 1%;
            margin-right: 0px;
            width: 47%;
            height: 1030px;
            background-color: #ffffff;
        }
            .toppagos ul {
                list-style: none;
                margin-top: 7%;
                margin-left: 3%;    
            }
                .toppagos ul li {
                    display: inline-block;
                    margin-bottom: 3%;
                    margin-right: 2%
                }
                .toppagos ul li:nth-child(odd) {;
                    background-color: #d1d1d1;
                    border-radius: .3em;
                }
                    .toppagos ul li img {
                        display: inline-block;
                        float: left;
                        margin-right: 2%;
                    }
        .topgratis {
            float: right;
            margin-left: 1%;
            margin-right: 0px;
            width: 47%;
            height: 1030px;
            background-color: #ffffff;
        }
            .topgratis ul {
                list-style: none;
                margin-top: 7%;
                margin-left: 3%;
            }
                .topgratis ul li {
                    display: inline-block;
                    margin-bottom: 3%;
                    margin-right: 2%;
                }
                .topgratis ul li:nth-child(even) {
                    background-color: #d1d1d1;
                    border-radius: .3em;
                }
                    .topgratis ul li img {
                        display: inline-block;
                        float: left;
                        margin-right: 2%;
                    }