* {
    margin: 0px;
    padding: 0px;
}
/*header*/
header {
    justify-content: flex-start;
    margin-bottom: 390px;
    width: auto;
    height: 5em;
    background: #aa1f00;
    display: flex;
}
    .logonav {
        position: relative;
        float: left;
        margin-top: 1%;
        margin-left: 6%;
    }
    .logo {
        position: relative;
        margin-top: .5em;
        width: 50px;
        height: 50px;
    }
    h1 {
        position: absolute;
        margin-top: -1.1em;
        margin-left: 1.07em;
        font-size: 300%;
        color: #000000;
    }
        a {
        text-decoration: none;
        font-weight: bold;
        }
    /*barra de navegacion*/
    nav {
        background-color: #aa1f00;
        width: 100%;
        margin-top: 1em;
        margin-right: 6%;
    }
        nav ul {
            justify-content: flex-end;
            display: flex;
            list-style: none;
            width: auto;
            margin: auto;
            }
            nav ul li {
                text-align: center;
            }
            nav ul .category {
                margin-top: .8em;
                font-size: 150%;
                font-weight: bold;
            }
                .category ul li a {
                    font-size: 80%;
                }
                nav a:hover {
                    background-color: #000000;
                    color: #aa1f00;
                    border-radius: .3em;
                }
                nav ul li a {
                    display: flex;
                    padding: 20px 20px;
                    color: #000000;
                    text-decoration: none;
                    font-size: 150%;
                }
                    nav ul ul {
                        position: relative;
                        display: block;
                        background: #aa1f00;
                        transform: translateX(60%);
                        opacity: 0;
                        transition: all .5s;
                        z-index: 10;
                    }
                        header ul li:hover ul {
                            opacity: 1;
                            transform: translateX(0%);
                        }
    /*fin barra de navegacion*/
    .total {
        position: absolute;
        margin-top: -30%;
        background-color: #919191;
        border-radius: .3em;
    }
    footer {
        position: absolute;
        top: 1100px;
    }