body {
    background-color: #000000;
}
/*header*/
header{
    padding: 2%;
    display: block;
    background-color: #aa1f00;
    border-radius: 7px;
}
.logo {
    float: left;
    position:relative;  
    margin-left: 2%;
    margin-top: 2%;
    padding: 0px;
    width: 50px;
    height: 50px;
}
h1 {
    float: left;
    position: relative;
    margin-top: 2%;
    font-size: 300%;
    color: #000000;
}
nav {
    width: 30%;
    float:right;
    position: relative;
    padding: 0%; 
    margin-top: 2%;
    margin-right: 2%;
    background-color: #000000;
    border-radius: 7px;
}
il {
    padding: 10px;
    border-radius: 7px;
    background-color: #aa1f00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    text-decoration: none;
    padding: 0px;
    color: #000000;
}
.banner {
    display: relative;
    margin-top: 0px;
    border-radius: 7px;
    width: 100%;
    height: 350px;

}
/*main*/
main {
    border-radius: 7px;
    background-color:#aa1f00;
    height: 300px;

}    
h2 {
    display: flex;
    align-items: baseline;
    top: 0px;
    margin-left: 3%;
}
.topp {
    margin-left: 1%;
    padding-top: 7px;
    border-radius: 7px;
    width: 98%;
    height: 80px;
    background-color: #000000;
}
.topg {
    margin-left: 1%;
    padding-top: 7px;
    border-radius: 7px;
    width: 98%;
    height: 80px;
    background-color: #000000;
}
.games {
    padding-left: 10px;
    width: 10%;
    height: 70px;
}
